<!-- only need post_url, not post.post_url because object 
referenced is post.object which destructurs in partials -->
<article class="post">
  <div class="title">
    <a href="post/{{id}}">
      {{title}} created by: {{user.username}} on {{format_date createdAt}}
    </a>
  </div>

  <div class="content">
    {{content}}
  </div>
  
</article>